@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Nunito:400,700|Open+Sans:400,700,800|Raleway:400,500,700');

body {
  margin: 0;
  background-color: #e7e7e7;
  position: relative;
}

h1 {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #33374c;
  line-height: 1.5;
  margin-bottom: 15px;
}

h2 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #33374c;
}

h3 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #33374c;
}

h4 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #33374c;
} 

p {
  font-size: 16px;
  font-family: 'Nunito', Open Sans, sans-serif;
  color: #333;
  line-height: 1.5;
}

.highlight {
  color: #e48e1e;
}

.center {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

a {
  text-decoration: none;
}

button {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px 15px;
  border: 0;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
  /* background-color:lightblue; */
  border-bottom: 3px solid #e48e1e;
}

select:focus {
  outline: 0;
  /* background-color:lightblue; */
  border-bottom: 3px solid #e48e1e;
}

textarea:focus {
  outline: 0;
  /* background-color:lightblue; */
  border-bottom: 3px solid #e48e1e;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap:;
}

.up-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 10px 20px;
  color: white;
  background-color: #e48e1e;
  cursor: pointer;
  font-family: 'Montserrat';
  border-radius: 20px;
}

.notice {
  padding: 20px;
  position: fixed;
  background-color: red;
  color: white;
  width: 100%;
  font-family: 'Nunito';
  text-align: center;
}

.success {
  padding: 20px;
  position: fixed;
  background-color: green;
  color: white;
  width: 100%;
  font-family: 'Nunito';
  text-align: center;
}

/* ##### HEADER ##### */

.big-header {
  background-color: #33374c;
  /* background: url("assets/images/background-2.png") no-repeat; */
  /* background-size: cover; */
  /* border-radius:0 0 50% 0;
  /* background-size: cover; */
}

header {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  padding: 20px 10%;
  grid-gap: 5px;
  background-color:;
}

.fixed {
  width: 80%; /* make up the padding above? it works somewhow */
  position: fixed;
  background-color: #33374c;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}


.blue-background {
  background-color: #33374c;
}

figure {
  margin: 0;
  align-self: center;
  background-color:;
  height: 36px;
}

figure img {
  width: 100%;
  margin: 0;
}

nav {
  background-color:;
  align-self: center;
}

nav a {
  color: white;
}

nav ul {
  list-style-type: none;
  text-align: right;
}

nav ul li {
  display: inline-block;
  font-family: 'Montserrat';
  padding: 5px;
  color: white;
  font-weight: bold;
  background-color:;
  cursor: pointer;
}

/* #####  BUTTTONS ###### */

.m-m-btn {
  border-radius: 20px;
}

.m-m-btn a {
  color: black;
}

.quote-btn {
  background-color: #e48e1e;
  color: white;
  border-radius: 20px;
}

.quote-btn:hover {
  background-color: #c77d1c;
}

.audit-btn {
  background-color: white;
  border-radius: 20px;
  color: #33374c;
  margin-left: 5px;
}

.read-more-btn {
  border-radius: 20px;
  background-color: #33374c;
  color: white;
}

.our-process-btn {
  background-color: #33374c;
  border-radius: 20px;
  color: white;
  margin-left: 5px;
}

/* ##### MAIN ##### */

.dual {
  background-color:;
  padding: 30px 10% 80px 10%;
  display: grid;
  grid-template-columns: auto 350px;
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-content: space-evenly;
}

.solo {
  background-color:;
  padding: 40px 10% 50px 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* ##### BILLBOARD ##### */

.billboard-container {
  background-color:;
}

.billboard-container h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
}

.billboard-container h3 {
  color:white;
  margin: 0;
}

.billboard-container .quote-btn {
  margin: 0;
}

/* ##### OPT-IN ##### */

.optin-container {
  background-color:;
  align-self: center; 

}
.input {
  padding: 20px;
  box-sizing: border-box;
  border: 0;
  background-color: white;
  width: 350px;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 3px solid #c1c1c1;
}

.submit-btn {
  padding: 20px;
  border: 0;
  font-size: 16px;
  background-color: #e48e1e;
  color: white;
  width: 350px;
  border-bottom: 10px solid #c77d1c;
}

/* ##### SECTION ##### */


.select-styles {
  padding:10px;
}

section {
  padding: 60px 10%;
  background-color: white;
}

.more-padding {
  padding: 60px 20%;
}

section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.subheadline {
  text-align: center;
  color: #d1d1d1;
  margin-bottom: 40px;
}

.grey-background {
  background-color: #e7e7e7;
}

/* ##### ITEM ##### */

.item-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  justify-content:space-evenly;
  grid-row-gap: 40px;
  background-color:;
}

.item-container .item {
  background-color: white;
}

.center-item {
  text-align: center;
}

.item .fas {
  margin: 20px;
  margin-bottom: 0px;
  font-size: 50px;
  color: #333;
}

.item img {
  width:100%;
}

.item p {
  margin: 20px;
}

.item h3 {
  margin: 20px;
  color: #e48e1e;
}

.item ul {
  margin: 20px;
}

.item li {
  margin: 20px;
}

.item button {
  margin: 20px;
}

.item .circle-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto;
  background: url("images/test-img.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

/* #####  CONNECT WITH US ##### */

  .connect-container {
    background-color:;
  }

  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: auto;
    justify-content: center;
    grid-gap: 20px;
    margin-bottom: 40px;
  }

  .button-container button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
  }

  .button-container .selected {
    background-color: #33374c;
    color: white;
  }

  .get-quote-container {
    display: block;
    background-color:;
  }

  .get-in-touch-container {
    display: none;
  }

  .form-field {
    text-align: center;
    margin-bottom: 15px;
  }

  ::placeholder {
    color: #c1c1c1;
  }

  .lead-select {
    width: 500px;
    height: 48px;
    text-indent: 10px;
    border: 0;
    font-size: 16px;
    font-family: 'Nunito';
    border-bottom: 3px solid #c1c1c1;
  }

  .input-item {
    width: 500px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    border-bottom: 3px solid #c1c1c1;
    display: block;
    margin: 0 auto;
  }
  
  .input-select {
    width: 500px;
    height: 48px;
    text-indent: 10px;
    border: 0;
    font-size: 16px;
    font-family: 'Nunito';
    border-bottom: 3px solid #c1c1c1;
    display: none;
    margin: 0 auto;
  }

  .input-body {
    width: 500px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    height: 100px;
    font-size: 16px;
    border-bottom: 3px solid #c1c1c1;
    display: block;
    margin: 0 auto;
  }

  .submit {
    width: 500px;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: #e48e1e;
    border-bottom: 10px solid #c77d1c;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
  }

.submit:hover {
    background-color: #c77d1c;
  }

.social-media-container {
  background-color:;
  text-align: center;
  margin-top: 40px;
}

.social-media-container ul {
  list-style-type: none;
  background-color:;
}

.social-media-container ul li {
  display: inline-block;
  background-color:;
  font-size: 40px;
  padding: 20px;
  color: #d1d1d1;
  cursor: pointer;
}

.social-media-container li:hover {
  color: #33374c;
}

/* ##### COURSE PREVIEW ##### */

.course-preview-container {
  background-color:;
  padding: 0 15%;

}

.course-preview-item {
  background-color: white;
  margin-bottom: 2px;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: bold;
}

.course-preview-item:hover {
  background-color: #f7f7f7;
}


.course-preview-item .fas {
  float: right;
  color: #333;
}


/* ##### COURSE ##### */

.course-container {
  background-color:white;
  margin-bottom: 20px;
  overflow: hidden;
}

.course-header {
  background-color: #33374c;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 150px;
  grid-template-rows: auto;
  padding: 20px;
}

.course-header h3 {
  color: white;
  align-self: center;
  margin: 0;
}

.course-header button {
  border: 0;
  padding: 10px 0;
  align-self: center;
  width: 100%;
  border-radius: 20px;
}

.course-body {
  overflow: hidden;
  max-height: 0;
  padding: 0;
  transition: max-height 0.2s ease-out;
  background-color:;
}


.course-body p {
  font-family: 'Nunito', Open Sans, sans-serif;
  font-size: 18px;
  margin: 15px 40px;
}


.course-body h4 {
  margin: 30px 40px;
}

.course-body ul, ol {
  margin: 15px 60px;
}

.course-body li {
  font-family: 'Nunito', Open Sans, sans-serif;
  font-size: 18px;
  line-height: 2;
}

.course-body img {
  display: block;
  margin: 40px auto;
}

.reduce-img-size {
  max-width: 250px;
}

/* ##### FOOTER ##### */

footer {
  background-color: #33374c;
  padding: 60px 10%;
}

.link-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background-color:;
  grid-gap: 20px;
}

.link-item {
  background-color:;
  justify-self: center;
  text-align: center;
}

.link-item h4, a {
  color: white;
  margin-bottom: 10px;
}

.link-item ul {
  list-style-type: none;
}

.link-item li {
  padding: 5px;
  background-color:;
  font-size: 14px;
}


/* ##### CAMPAIGN ##### */

.campaign {
  background-color: #33374c;
}

.campaign-container {
  text-align: center;
}

.campaign-container img {

}

/* ##### social media ##### */

.social-media-presentation {

}


/* ##### SERVICES ##### */


.service-container {
  display: grid;
  grid-template-columns: auto 250px;
  grid-tempate-rows: auto;
  background-color:;
  grid-gap: 60px;
  justify-content: space-evenly;
  padding: 0 10%;
}

.service-item {
  background-color:;
  align-self: center; 
}

.service-container h2 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.service-container h4 {
  color: #e48e1e;
  margin-bottom: 0;
}

.service-container .read-more-btn {
  margin-left: 5px;
}

/* ##### RESPONSIVE ##### */

/* ##### PHONE ##### */

@media (max-width: 599px) {

  .item-container {
    grid-template-columns: 1fr;
  }

  nav button {
    display: none;
  }

  header {
    padding: 20px 2%;
    grid-template-columns: 200px auto;
  }

  .fixed {
    width: 96%;
  }

  .service-container {
    display: grid;
    background-color:;
    grid-template-columns: 100% 0%;
    padding: 0;
    grid-gap: 0;
  }

  .service-item {
    background-color:;
  }

  .service-item img {
    display: none;
  }

  section {
    padding: 60px 5%;
  } 

  .campaign-container img {
    width: 100%;
  } 

}

/* ##### TABLET ##### */

@media (min-width: 600px) and (max-width: 899px) {

  header {
    padding: 20px 5%;
    grid-template-columns: 200px auto;
  }

  nav button {
    display: none;
  }

  .fixed {
    width: 90%;
  }

  section {
    padding: 60px 15%;
  }

  .item-container {
    grid-template-columns: 1fr;
  }

  .campaign-container img {
    width: 100%;
  }

  .service-container {
    display: grid;
    background-color:;
    grid-template-columns: 100% 0%;
    padding: 0;
    grid-gap: 0;
  }

  .service-item {
    background-color:;
  }

  .service-item img {
    display: none;
  } 
}

/* ##### TABLET LANDSCAPE ##### */

@media (min-width: 900px) and (max-width: 1199px) {

  header {
    padding: 20px 5%;
    grid-template-columns: 200px auto;
  }

  .fixed {
    width: 90%;
  }

  section {
    padding: 60px 5%;
  }

  .item-container {
    grid-template-columns: repeat(3, 300px);
    justify-content: space-between;
  }


}

/* ##### DESKTOP ##### */

@media (min-width: 1200px) and (max-width: 1799px) {
  /* What side was made for */
}

/* ##### BIG DESKTOP ##### */

@media (min-width: 1800px) {
  /* What side was made for */
}

